[Unit]
Description=ProvedCode systemd service
DefaultDependencies=no
After=network.target

[Service]
Type=simple
WorkingDirectory={{ app_path }}/target
ExecStart=/usr/bin/java -jar {{ jar_file }} --server.port={{ server_port }}
StandardOutput=file:{{ app_path }}/target/output.log
StandardError=file:{{ app_path }}/target/error.log
TimeoutStartSec=0
RemainAfterExit=yes
Restart=on-failure

Environment="SPRING_PROFILES_ACTIVE={{ app_mode }}"
Environment="DB_LOGIN={{ db_user }}"
Environment="DB_PASSWORD={{ db_pass }}"
Environment="DB_URL={{ db_ip }}:{{ db_port }}/{{ db_name }}"
Environment="BUCKET={{ bucket }}"
Environment="S3_ACCESS_KEY={{ s3_access_key }}"
Environment="S3_SECRET_KEY={{ s3_secret_key }}"
Environment="S3_REGION={{ s3_region }}"
  
[Install]
WantedBy=default.target