# ⛔️ DON'T PUT SECRET FILES IN VCS!!!
---
apiVersion: v1
kind: Secret
metadata:
  name: pg-secrets
type: Opaque
stringData:
  APP_USER: app_user
  APP_PASSWORD: app_pass
  APP_DB: provedcode
  APP_MODE: prod
  DB_URL: postgres:5432/provedcode
  BUCKET: app_bucket
  S3_ACCESS_KEY: access_key
  S3_SECRET_KEY: secret_key
  S3_REGION: eu-central-1
