# ⛔️ DON'T PUT SECRET FILES IN VCS!!!
---
apiVersion: v1
kind: Secret
metadata:
  name: pg-secrets
type: Opaque
stringData:
  APP_USER: app_user
  APP_PASSWORD: app_pass
  APP_DB: provedcode
  APP_MODE: prod
  DB_URL: postgres:5432/provedcode
